* {
	padding: 0;
	margin: 0;
}

body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#headerText {
	width: 100%;
	height: 70px;
	position: absolute;
	background: rgba(206, 214, 224,0.3);
	margin-top: 200px;
}

#headerText h1 {
	text-align: center;
	color: rgba(255, 250, 101,1.0);
	text-shadow: 1px 1px 1px;
    padding: 10px;
}

#sideBar.active {
	left: 0px;
}

#sideBar {
	position: fixed;
	width: 250px;
	height: 100%;
	background: white;
	border-right: 4px solid white;
	left: -250px;

	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
	transition: all 600ms;
}

#sideBar ul li:first-child {
	text-align: center;
	color: black;
	font-size: 30px;
	list-style: none;
	padding: 55px 10px 10px 10px;
}

#sideBar ul li:not(:first-child) {
	width: 90%;
	margin-left: 10%;
	font-size: 20px;
	list-style: none;
	padding: 15px 10px;
}

#sideBar ul li a {
	color: black;
	text-decoration: none;
}

#sideBar ul li a:hover {
	color: blue;
} 

.menuButton {
	position: absolute;
	left: 270px;
	top: 20px;
	background: white;
	padding: 10px;
	border-radius: 12px;
	cursor: pointer;
}

.menuButton span {
	display: block;
	width: 25px;
	height: 4px;
	background: black;
	margin: 4px 0;
}

#dc {
	width: 400px;
	height: 400px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	margin-left: 220px;
	margin-top: 320px;
}

#info {
	color: white;
	font-size: 22px;
	line-height: 32px;
}