* {
	padding: 0;
	margin: 0;
}

body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 1170px;
	max-height: 1400px;
}

#logoName {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: 310px;
	margin-left: 520px;
}

#logoName h1 {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px 1px red;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 3px;
}



	#sideBar.active {
		left: 0px;
	}

	#sideBar {
		position: fixed;
		width: 350px;
		height: 100%;
		background: #63cdda;
		border-right: 4px solid #63cdda;
		left: -350px;

		-moz-transition: all 600ms;
		-webkit-transition: all 600ms;
		transition: all 600ms;
	}

	#sideBar ul li:first-child {
		text-align: center;
		color: black;
		font-size: 35px;
		list-style: none;
		padding: 85px 10px 10px 10px;
	}

	#sideBar ul li:not(:first-child) {
		width: 90%;
		margin-left: 10%;
		font-size: 25px;
		list-style: none;
		padding: 15px 10px;
		line-height: 30px;
	}

	#sideBar ul li a {
		color: black;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		
	}

	#sideBar ul li a:hover {
		color: #EA2027;
	} 

	.menuButton {
		position: absolute;
		left: 370px;
		top: 20px;
		background: #341f97;
		padding: 10px;
		border-radius: 20px;
		cursor: pointer;
	}

	.menuButton span {
		display: block;
		width: 45px;
		height: 8px;
		background: white;
		margin: 4px 0;
	}

	#coachContainer {
		position: absolute;
		width: 950px;
		height: 1300px;
		margin-left: 200px;
		margin-top: 490px;
		background: rgba(255,255,255,0.1);
		display: flex;
		flex-wrap: wrap;
	}

	#coach1 img {
		width: 300px;
		height: 300px;
		position: absolute;
		margin-left: 10px;
		margin-top: 10px;
		border: 10px solid green;
		border-radius: 100%;
		float: left;
	}

	#coach1 h1 {
		width: 400px;
		height: 350px;
		position: absolute;
		margin-left: 350px;
		text-align: center;
		font-size: 34px;
		color: #95afc0;
	}

	#coach2 img {
		width: 300px;
		height: 300px;
		position: absolute;
		margin-left: 10px;
		margin-top: 400px;
		border: 10px solid yellow;
		border-radius: 100%;
	}

	#coach2 h1 {
		width: 400px;
		height: 350px;
		position: absolute;
		margin-left: 350px;
		margin-top: 400px;
		text-align: center;
		font-size: 34px;
		color: #95afc0;
	}

	#coach3 img {
		width: 300px;
		height: 300px;
		position: absolute;
		margin-left: 10px;
		margin-top: 680px;
		border: 10px solid red;
		border-radius: 100%;
	}

	#coach3 h1 {
		display: block;
		width: 400px;
		height: 350px;
		position: relative;
		margin-left: 350px;
		top: 25%;
		right: 20%;
		text-align: center;
		font-size: 34px;
		color: #95afc0;
	}

	#coach1Text h1 {
		width: 400px;
		height: 550px;
		position: absolute;
		margin-left: 450px;
		margin-top: 90px;
		font-size: 34px;
		color: #95afc0;
	}

	#coach2Text h1 {
		width: 400px;
		height: 550px;
		position: absolute;
		margin-left: 450px;
		margin-top: 490px;
		font-size: 34px;
		color: #95afc0;
	}

	#coach3Text h1 {
		width: 400px;
		height: 550px;
		position: absolute;
		margin-left: 450px;
		margin-top: 760px;
		font-size: 34px;
		color: #95afc0;
	}