* {
	padding: 0;
	margin: 0;
}

body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 1170px;
	max-height: 1400px;
}

#logoName {
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: 310px;
	margin-left: 520px;
}

#logoName h1 {
	color: white;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px 1px red;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: 3px;
}



	#sideBar.active {
		left: 0px;
	}

	#sideBar {
		position: fixed;
		width: 350px;
		height: 100%;
		background: #63cdda;
		border-right: 4px solid #63cdda;
		left: -350px;

		-moz-transition: all 600ms;
		-webkit-transition: all 600ms;
		transition: all 600ms;
	}

	#sideBar ul li:first-child {
		text-align: center;
		color: black;
		font-size: 35px;
		list-style: none;
		padding: 85px 10px 10px 10px;
	}

	#sideBar ul li:not(:first-child) {
		width: 90%;
		margin-left: 10%;
		font-size: 25px;
		list-style: none;
		padding: 15px 10px;
		line-height: 30px;
	}

	#sideBar ul li a {
		color: black;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		
	}

	#sideBar ul li a:hover {
		color: #EA2027;
	} 

	.menuButton {
		position: absolute;
		left: 370px;
		top: 20px;
		background: #341f97;
		padding: 10px;
		border-radius: 20px;
		cursor: pointer;
	}

	.menuButton span {
		display: block;
		width: 45px;
		height: 8px;
		background: white;
		margin: 4px 0;
	}

	.slider {
		width: 700px;
		height: 450px;
		border: 4px solid #686de0;
		border-radius: 10px;
		overflow: hidden;
		position: absolute;
		margin-top: 500px;
		margin-left: 260px;
	}

	.slides {
		width: 100%;
		height: 450px;
		display: flex;
	}

	.slides input {
		display: none;
	}

	.slide {
		transition: 3s;
	}

	

	.slide img {
		width: 600px;
		height: 450px;
	}


	.navigation-manual {
		position: absolute;
		width: 600px;
		margin-top: -40px;
		margin-left: 50px;
		display: flex;
		justify-content: center;
	}

	.manual-btn {
		border: 2px solid white;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	}

	.manual-btn:not(:last-child) {
		margin-right: 30px;
	}

	.manual-btn:hover {
		background: white;
	}

	#radio1:checked ~ .first {
		margin-left: 0;
	}

	#radio2:checked ~ .first {
		margin-left: -100%;
	}

	#radio3:checked ~ .first {
		margin-left: -200%;
	}

	.slider2 {
		width: 700px;
		height: 450px;
		border-radius: 10px;
		border: 4px solid #686de0;
		overflow: hidden;
		margin-left: 260px;
		margin-top: 1000px;
		position: absolute;
	}

	.slides2 {
		width: 100%;
		height: 450px;
		display: flex;
	}

	.slides2 input {
		display: none;
	}

	.slide2 {
		transition: 2s;
	}

	.slide2 img {
		width: 700px;
		height: 450px;
	}

	.navigation-manual2 {
		position: absolute;
		width: 700px;
		margin-top: -40px;
		display: flex;
		justify-content: center;
	}

	.manual-btn2 {
		border: 2px solid white;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	}

	.manual-btn2:not(:last-child) {
		margin-right: 30px;
	}

	.manual-btn2:hover {
		background: white;
	}

	#radio4:checked ~ .first2 {
		margin-left: 0;
	}

	#radio5:checked ~ .first2 {
		margin-left: -100%;
	}

	#radio6:checked ~ .first2 {
		margin-left: -200%;
	}

	#radio7:checked ~ .first2 {
		margin-left: -300%;
	}

	#radio8:checked ~ .first2 {
		margin-left: -400%;
	}

} 

